.history_icon {
    background-image: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="%23a8a8a8"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>');
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.history_menu {
    position: fixed;
    top: 0;
    left: -500px;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    background-color: #1d2227;
    color: white;
    padding: 0.5rem;
    transition: left 0.3s ease;
    overflow-y: auto;
    z-index: 10;
}

.history_open {
    left: 0;
}

.history {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.history_item {
    font-size: 0.9rem;
    cursor: pointer;
}

.history_timestamp {
    color: #b7b7b7;
}

.load_more_btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    opacity: 0.7;
}

.load_more_btn:hover {
    opacity: 1;
}
