.counter {
    color: var(--bg-gradient-end);
    font-size: 0.9rem;
}

.box {
    background-color: var(--bg-icon);
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    padding: 0.05rem 0.45rem;
    border-radius: 0.25rem;
}

.icon {
    width: 16px;
    height: 16px;
    background-color: var(--bg-gradient-end);
    -webkit-mask: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg"  width="16"  height="16"  viewBox="0 0 24 24"  fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 13m0 2a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2z" /><path d="M15 13m0 2a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2z" /><path d="M4 15v-3a8 8 0 0 1 16 0v3" /></svg>');
    mask: -webkit-mask;
}

.number {
    color: var(--bg-gradient-end);
    user-select: none;
    line-height: 0rem;
    font-weight: 700;
    font-size: 1rem;
}
