.box {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.counter {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #fff;
    font-size: 0.9rem;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #59e36d;
}
