.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
}

.menu_mobile {
    background-color: var(--sidebar-color);
}

.menu_desktop {
    background-color: color-mix(in srgb, var(--sidebar-color) 60%, transparent);
}

.menu_header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu_title {
    font-size: 1rem;
    user-select: none;
}

.close_icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color: var(--text-color);
    -webkit-mask: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg"  width="18"  height="18"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>');
    mask: -webkit-mask;
}
