.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.menu_mobile {
    background-color: #1d2227;
}

.menu_desktop {
    background-color: #1d222780;
}

.menu_header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu_title {
    font-size: 1rem;
    user-select: none;
}

.close_icon {
    background-image: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg"  width="18"  height="18"  viewBox="0 0 24 24"  fill="none"  stroke="%23a8a8a8"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>');
    width: 18px;
    height: 18px;
    cursor: pointer;
}
