video {
    display: none;
}

.container {
    flex: 1;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pause_icon {
    margin: 0px auto 0;
    width: 74px;
    height: 74px;
    box-sizing: border-box;
    border-color: transparent transparent transparent var(--text-color);
    background-color: var(--text-color);
    border-radius: 0.2rem;
    transition:
        transform 0.05s ease-out,
        background-color 0.3s,
        box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.play_icon {
    width: 74px;
    height: 74px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 36px 0px 36px 74px;
    border-color: transparent transparent transparent var(--text-color);
    transition: all 200ms ease-in-out;
    border-radius: 0.2rem;
}

.pause_icon,
.play_icon {
    cursor: pointer;
    user-select: none;
}
