.info_menu {
    position: fixed;
    top: 0;
    right: -500px;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    transition: right 0.3s ease;
    overflow-y: hidden;
    z-index: 10;
}

.info_icon {
    background-color: var(--bg-icon);
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20.975 11.33a9 9 0 1 0 -5.673 9.043" /><path d="M3.6 9h16.8" /><path d="M3.6 15h9.9" /><path d="M11.5 3a17 17 0 0 0 0 18" /><path d="M12.5 3a16.988 16.988 0 0 1 2.57 9.518m-1.056 5.403a17 17 0 0 1 -1.514 3.079" /><path d="M19 22v.01" /><path d="M19 19a2.003 2.003 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483" /></svg>');
    mask: -webkit-mask;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.info_open {
    right: 0;
}

.header {
    position: absolute;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.content {
    padding: 1rem 0.5rem;
}

.logo {
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.metadata {
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.location,
.timezone {
    color: var(--text-dimmed-color);
}

.description {
    margin-top: 1rem;
}

.footer {
    margin-top: 1rem;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.footer a {
    color: #33b8ff;
    text-decoration: none;
    transition: 0.2s all;
}

.footer a:hover {
    color: #5ec7ff;
    text-decoration: underline;
}
