.center {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  width: 74px;
  height: 74px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent rgb(255, 255, 255);
  transition: all 200ms ease-in-out;
  border-radius: 0.2rem;
}

.pause {
  border-width: 0px 0px 0px 74px;
}

.box:hover {
  border-color: transparent transparent transparent rgb(195, 255, 172);
}

.pause:hover {
  border-color: transparent transparent transparent rgb(255, 216, 172);
}
