* {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #252c32;
}

::-webkit-scrollbar-thumb {
    background: #313942;
}

::-webkit-scrollbar-thumb:hover {
    background: #313942;
}

body {
    background: #485563;
    background: -webkit-linear-gradient(to top, #29323c, #485563);
    background: linear-gradient(to top, #29323c, #485563);
    overflow: hidden;
}

.empty_icon {
    width: 24px;
    height: 24px;
}
