:root {
    --bg-gradient-start: #29323c;
    --bg-gradient-end: #485563;
    --bg-icon: #a8a8a8;
    --text-color: #ffffff;

    --text-dimmed-color: color-mix(in srgb, var(--text-color) 70%, transparent);
    --sidebar-color: color-mix(in srgb, var(--bg-gradient-start) 80%, black 20%);
    --scrollbar-color: color-mix(in srgb, var(--bg-gradient-end) 90%, black 10%);
}

* {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: color-mix(in srgb, var(--bg-gradient-start) 80%, black 20%);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color);
}

body {
    background: var(--bg-gradient-end);
    background: -webkit-linear-gradient(to top, var(--bg-gradient-start), var(--bg-gradient-end));
    background: linear-gradient(to top, var(--bg-gradient-start), var(--bg-gradient-end));
    overflow: hidden;
}

.empty_icon {
    width: 24px;
    height: 24px;
}
