* {
    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        background: #ffffff15;
        border-radius: 1px;
    }

    ::-webkit-scrollbar-thumb {
        background: #ffffff20;
        border-radius: 1px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #dadada;
    }
}

body {
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #29323c, #485563); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #29323c,
        #485563
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mantine-Checkbox-input {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

.mantine-Checkbox-input:disabled {
    cursor: not-allowed;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
}

.mantine-Button-root:disabled {
    cursor: not-allowed;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.4);
}

.mantine-LoadingOverlay-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
