* {
    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        background: #ffffff15;
        border-radius: 1px;
    }

    ::-webkit-scrollbar-thumb {
        background: #ffffff20;
        border-radius: 1px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #dadada;
    }
}

body {
    background: #29323c;
    background: -webkit-linear-gradient(to top, #29323c, #485563);
    background: linear-gradient(to top, #29323c, #485563);
}
